
.color-input{
  width: 100%;
  height: 45px;
}

.contenedor-main{
  min-height: 100vh;
}

body{
  height: auto;
  margin: 0;
}

footer{
  padding-top: 20px;
  margin-top: 20px;
}

.vista-lugares{
  min-height: 70vh;
}

body.dark-mode  {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.custom-calendar{
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 5px 0.2px #656565;
}

.react-calendar__month-view__days{
  gap: 4px;
}

.react-calendar__tile{
  border-radius: 15px;
  font-weight: bolder;
}

.custom-calendar{
  background-color: aliceblue;
  padding: 5px;
}

.react-calendar__tile{
  background-color: white;
}

body.dark-mode .custom-calendar{
  background-color: #121212;
  color: white;
}

body.dark-mode .react-calendar__tile{
  color: white;
}

body.dark-mode .react-calendar__tile:hover{
  color: black;
}

body.dark-mode .react-calendar__navigation__label:hover{
  background: #202020;
}

body.dark-mode .react-calendar__navigation__label:focus{
  background: #202020;
}

body.dark-mode .react-calendar__navigation__arrow:hover{
  background-color: #202020;
}

body.dark-mode .react-calendar__navigation__arrow{
  color: white;
}

body.dark-mode .react-calendar__navigation__prev2-button{
  border-top-left-radius: 15px;
}

body.dark-mode .react-calendar__navigation__next2-button{
  border-top-right-radius: 15px;
}

body.dark-mode .react-calendar__navigation__label__labelText{
  color: white !important;
}

body.dark-mode .react-calendar__month-view__days__day--weekend abbr{
  color: rgb(244, 103, 103);
}

body.dark-mode .react-calendar__tile{
  background-color: #151515;
}

body.dark-mode .react-calendar__tile--now{
  background-color: rgb(86, 140, 140);
  color: black;
}

body.dark-mode .react-calendar__month-view__days__day--neighboringMonth abbr{
  color: rgb(131, 131, 129);
}

body.dark-mode .formulario-viaje{
  background-color: #151515;
  color: white;
}

body.dark-mode .formulario-viaje input{
  background-color: #1e1e1e;
  border: none;
  color: white;
}

body.dark-mode .formulario-viaje textarea{
  background-color: #1e1e1e;
  border: none;
  color: white;
}

body.dark-mode .formulario-viaje select{
  background-color: #1e1e1e;
  border: none;
  color: white;
}

body.dark-mode .formulario-viaje label{
  color: white !important;
}

body.dark-mode .formulario-viaje label::after{
  background-color: #1e1e1e !important;
  border: none;
  color: white !important;
}