
.color-input{
  width: 100%;
  height: 45px;
}

.contenedor-main{
  min-height: 100vh;
}

body{
  height: auto;
  margin: 0;
}

footer{
  padding-top: 20px;
  margin-top: 20px;
}

.vista-lugares{
  min-height: 70vh;
}

.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}